// 1450px
@include xxxxlg-xxxxxlg {
    // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
    h1 {
        font-size: 70px;
        line-height: 76px;
    }
    h2 {
        font-size: 42px;
        line-height: 50px;
        &.big {
            font-size: 70px;
            line-height: 77px;
        }
    }
    h3 {
        font-size: 38px;
        line-height: 44px;
    }
    @include hero-xxxlg-xxxxlg;
}
// 1250px
@include xlg-xxlg-extra {
    @include hero-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
    .auto__container {
        padding: 0 30px;
    }
    h1 {
        font-size: 60px;
        line-height: 66px;
    }
    h2 {
        font-size: 38px;
        line-height: 44px;
        &.big {
            font-size: 60px;
            line-height: 67px;
        }
    }
    h3 {
        font-size: 35px;
        line-height: 40px;
    }
    .button {
        padding: 12px 40px;
        &__row {
            max-width: 420px
        }
    }
    @include header-xlg-xxlg;
    @include nav-xlg-xxlg;
    @include hero-xlg-xxlg;
    @include sponsors-xlg-xxlg;
    @include model-xlg-xxlg;

}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    @include header-lg-xlg;
    @include nav-lg-xlg;
    @include hero-lg-xlg;
    @include model-lg-xlg;
    @include feature-lg-xlg;
    @include intro-lg-xlg;
    @include release-lg-xlg;
    @include faq-lg-xlg;
    @include join-lg-xlg;

}
// 930px
@include md-lg {
    h1 {
        font-size: 50px;
        line-height: 56px;
    }
    h2 {
        font-size: 34px;
        line-height: 38px;
        &.big {
            font-size: 50px;
            line-height: 57px;
        }
    }
    h3 {
        font-size: 35px;
        line-height: 40px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
    }
    .button {
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 8px;
        svg {
            width: 13px;
            height: 13px;
            margin-right: 8px;
        }
        &__row {
            max-width: 340px;
        }
    }
    @include hero-md-lg;
    @include release-md-lg;
    @include tribe-md-lg;
    @include team-md-lg;
    @include faq-md-lg;
    @include footer-md-lg;

}
// 750px
@include sm-md {
    .auto__container {
        padding: 0 20px;
    }
    @include header-sm-md;
    @include hero-sm-md;
    @include model-sm-md;
    @include feature-sm-md;
    @include intro-sm-md;
    @include release-sm-md;
    @include tribe-sm-md;
    @include team-sm-md;

}
// 650px
@include sm-md-extra {
    h1 {
        font-size: 45px;
        line-height: 50px;
    }
    h2 {
        font-size: 34px;
        line-height: 38px;
        &.big {
            font-size: 40px;
            line-height: 45px;
        }
    }
    @include hero-sm-md-extra;
    @include footer-sm-md-extra;

}
// 540px
@include xsm-sm  {
    .anchor {
        top: -50px;
    }
    @include hero-xsm-sm;
    @include sponsors-xsm-sm;
    @include intro-xsm-sm;
    @include release-xsm-sm;
    @include tribe-xsm-sm;
    @include team-xsm-sm;
    @include faq-xsm-sm;
}
// 440px
@include xxsm-xsm  {
    .button {
        padding: 15px 45px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 10px;
        margin-bottom: 30px;

        svg {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        &__row {
            max-width: unset;
            flex-direction: column;
            .button {
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    @include hero-xxsm-xsm;
    @include tribe-xxsm-xsm;
    @include team-xxsm-xsm;

}
// 390px
@include xxxsm-xxsm  {
    .button {
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 8px;
        margin-bottom: 24px;

        svg {
            width: 13px;
            height: 13px;
            margin-right: 8px;
        }
    }
    // @include hero-xxxsm-xxsm;
}

